<div class="container-fluid">
  <img *ngIf="platform.logo != null" [src]="platform.logo.url" class="img-responsive" [alt]="platform.name">
  <h1>{{platform.name}}</h1>
  <h4>{{platform.company}}</h4>
  <div>{{platform.summary}}</div>
  <h4>Games</h4>
  <div class="row">
    <div class="col-xl-10 offset-xl-1">
      <div class="row">  
        <div *ngFor="let game of games" class="card col-sm-6 col-xl-3">
          <div class="ribbon red" *ngIf="game.releaseDate > currentDate"><span>Coming Soon</span></div>
          <img *ngIf="game.cover != null" [src]="game.cover.url" class="card-img-top" [alt]="game.name">
          <div class="card-body">
            <h5 class="card-title">{{game.name}}</h5>
            <p class="card-text">{{ (game.summary?.length>200)? (game.summary | slice:0:200)+'..':(game.summary) }}</p>
            <ng-container *ngIf="game.genres != null">
              <button type="button" class="btn btn-info ml-1 mb-1" *ngFor="let genre of game.genres">{{genre}}</button>
            </ng-container>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
